<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <div th:replace="~{fragment :: meta}"></div>   
            
        <div th:replace="~{fragment :: styles}"></div>
        
        <title>株式登録</title>       
    </head>
    <body>
        <div class="samuraitravel-wrapper">
            <!-- ヘッダー -->
            <div th:replace="~{fragment :: header}"></div>
            
            <main>
                <div class="container pt-4 pb-5 samuraitravel-container">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-6 col-md-8">
                            <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0"> 
                                    <li class="breadcrumb-item"><a th:href="@{/stocks}">株式一覧</a></li>                                                           
                                    <li class="breadcrumb-item active" aria-current="page">株式登録</li>
                                </ol>
                            </nav> 
                            
                            <h1 class="mb-4 text-center">株式登録</h1>         
                            
                            <form method="post" th:action="@{/stocks/create}" th:object="${stocksRegisterForm}" enctype="multipart/form-data">                                                            
                                <div class="form-group row mb-3">
                                    <div class="col-md-4">
                                        <label for="id" class="col-form-label text-md-left fw-bold">証券コード</label>
                                    </div>
                                    <div class="col-md-8">                                    
                                        <div th:if="${#fields.hasErrors('id')}" class="text-danger small mb-2" th:errors="*{id}"></div>                                    
                                        <input type="text" class="form-control" th:field="*{id}" autofocus>
                                    </div>
                                </div>
                                                               
                                
                                <div class="form-group row mb-3">
                                    <div class="col-md-4">
                                        <label for="acquisitionPrice" class="col-form-label text-md-left fw-bold">取得単価</label>
                                    </div> 
                                    <div class="col-md-8">
                                        <div th:if="${#fields.hasErrors('acquisitionPrice')}" class="text-danger small mb-2" th:errors="*{acquisitionPrice}"></div>
                                        <input type="number" class="form-control" th:field="*{acquisitionPrice}">                                
                                    </div>                                    
                                </div>
                                
                                <div class="form-group row mb-3">
                                    <div class="col-md-4">
                                        <label for="stockNumber" class="col-form-label text-md-left fw-bold">保有株数</label>
                                    </div> 
                                    <div class="col-md-8">
                                        <div th:if="${#fields.hasErrors('stockNumber')}" class="text-danger small mb-2" th:errors="*{stockNumber}"></div>
                                        <input type="number" class="form-control" th:field="*{stockNumber}">                                
                                    </div>                                    
                                </div>                                                                                                                                              
                                
                                <div class="form-group d-flex justify-content-center my-4">
                                    <button type="submit" class="btn text-white shadow-sm w-50 samuraitravel-btn">登録</button>
                                </div>
                            </form>                                                                         
                        </div>
                    </div>
                </div>                
            </main>
            
            <!-- フッター -->
            <div th:replace="~{fragment :: footer}"></div>
        </div>    
        
        <div th:replace="~{fragment :: scripts}"></div>  
    </body>
</html>